@import "../../_globalColor";

.achievement-heading {
  font-size: 36px;
  font-weight: 400;
  line-height: normal;
  margin: 0px;
}
.achievement-subtitle {
  text-transform: uppercase;
  margin: 0px;
  margin-top: 10px;
  margin-bottom: 40px;
      font-weight: bold;
}
.subTitle {
  color: $subTitle;
}

/* Media Query */
@media (max-width: 680px) {
  .achievement-heading {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  .achievement-heading {
    font-size: 30px;
    text-align: center;
  }
  .achievement-subtitle {
    font-size: 16px;
    line-height: normal;
    text-align: center;
    font-weight: bold;
    
  }
}

// achievements comments 

.achievement-layout{
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 30px;
  
  width: 100%;
}

.achievement-feature{
  width: 100%;
  max-width: 100%;
}

.achievement-cert-list{
  display:flex;
  flex-direction:column;
  gap:14px;
  width:100%;
  padding-top:10px;
  border-inline-start: 2px solid rgb(161, 115, 236);
}

.cert-item{
  display:flex;
  align-items:center;
  justify-content:space-between;

  padding:14px 18px;
  border-radius:8px;
  border-color:2px solid rgba(255,255,255,0.05);
  background: rgba(255,255,255,0.04);
  text-decoration:none;
  transition:all .25s ease;
  border:2px solid rgba(255,255,255,0.05);
}


.cert-item:hover{
  transform: translateX(6px);
  background: rgba(255,255,255,0.08);
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}
.cert-name{
  font-weight: 600;
  font-size:16px;
}

.cert-org{
  font-size: 13px;
  opacity: .7;
}

@media (max-width: 768px) {
  .achievement-layout{
    grid-template-columns: 1fr;
  }
}

.cert-arrow{
  font-size:18px;
  opacity:0.8;
  transition:all .25s ease;
  font-weight: bold;
}
.cert-item:hover .cert-arrow{
  transform:translateX(6px);
  opacity:1;
}

.cert-text{
  display:flex;
  flex-direction:column;
}